{% extends "core/base.html" %}
{% load bootstrap %}
{% block content %}

<form method="POST">

    <h1>Lista de Cliente</h1>

    {% csrf_token %}

    <div class="text-right">
        <a href="{% url 'url_cliente_new' %}">
            <button type="button" class="btn btn-secondary" title="lista de usuários">
                <i class="fas fa-plus"></i>Novo
            </button>
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr style="background-color: silver;">
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>E-mail</th>
                <th width="150">Celular</th>
                <th width="120"></th>
            </tr>
            </thead>
            <tbody>
            {% for cli in lista %}
            <tr>
                <td>{{ cli.nome|default_if_none:"" }}</td>
                <td>{{ cli.cpf_cnpj|default_if_none:"" }}</td>
                <td>{{ cli.email|default_if_none:"" }}</td>
                <td>{{ cli.celular|default_if_none:"" }}</td>
                <td>
                    <a href="{% url 'url_cliente_update' cli.slug %}">
                        <button type="button" class="btn btn-sm" title="editar">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>

                    <a href="{% url 'url_cliente_delete' cli.id %}"
                       onclick="return confirma('excluir o registro atual?')">
                        <button type="button" class="btn btn-sm" title="excluir">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5"><span style="color: red">sem registros</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</form>

{% endblock %}